
@import url('https://fonts.googleapis.com/css?family=Metal Mania&display=swap');

body{
  background-image: url('./login_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
*{
  padding:0;
  margin:0;
  max-width:100%;
  
  font-family:"Metal Mania" ;

 
}
.heading{
  width:5rem;
  height:0;
  padding: 0;
  font-weight: bold;
  color: white;
  font-size: 2rem;
  display: flex;
}
.container{
  text-align: center;
  height:5rem;

background-color:#2e1b05 ;


}

.name{
  padding:2rem;
  font-size: 30px;
  color: black;
}

.name_box{
  padding:0.2rem;
  border-radius:0.5rem;
  box-shadow: inset 0 3px 3px lightgray;
  
  width: 16rem;
  height: 2.5rem;
  margin-left: 0.2rem;
  font-size: 20px;
}

button{
  padding: 0.5rem;
  border-radius: 0.3rem;
 
  margin-right: 1rem;
  font-weight:bold;
  font-size: 1.5rem;
  background: #AB6730;
  background: linear-gradient(315deg, #AB6730, #CC9F73);
  color:black;
  border:none;
  box-shadow: 3px 3px 3px lightgray;
  height: 3rem;
  width: 6rem;
  margin-top: 1rem;
}

button:hover{
  background: #242C36;
  background: linear-gradient(315deg, #8d6220, #381704);
}

label{
  font-weight: bold;
}

.card{
  margin-left: 40rem;
  margin-top: 4rem;
  align-items: center;
  width: 35rem;
  height: 22rem;
  text-align: center;
  border-radius:1rem;
  background-color:rgba(46, 27, 5, 0.7);
  

}
.title{
  margin-top: 10rem;
  text-align: center;
  font-size: 55px;
  font-family:"Metal Mania" ;
  color: rgb(29, 7, 7);
}
