
@import url('https://fonts.googleapis.com/css?family=Metal Mania&display=swap');


body{

    background-image: url(qn_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    font-family: "Metal Mania";
    overflow: hidden;
  
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 3;
    font-size: 30px;
    text-align: center;
    background-color: #2e1b05;
    color: white;
}

.modal.show {
    display: block;
    height: 30vh;
    width: 40vw;
}

    .nav-bar {
        background-color: #2e1b05;
        overflow: hidden;
        font-size: 30px;
      }
      
     
      .nav-bar a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
        font-size: 25px;
      }
      
      
      .nav-bar a:hover {
        background-color: #ddd;
        color: black;
      }
      
      
      .nav-bar a.active {
        background-color: #311e05;
        color: white;
      }
      .question{
        text-align: center;
        margin-top: 6vh;
        font-size: 30px;
      }
      .input-box{

        height: 8vh;
        width: 28vw;
        border-radius: 2vh;
        margin-top: 4vh;
        background-color: rgb(230, 221, 214);
      }
      .submit-btn{
        margin-top: 3vh;
        height: 7vh;
        width: 12vw;
        border-radius: 3vh;
        font-size: 20px;
        font-family: "Metal Mania";

      }
      .submit-btn:hover{
        background-color: #1f1201;
        color: white;

      }
      .exit{
        margin-right: 3vw;
        
      }

      
      .title{
        font-size: 4.5vh;
        margin-left: 40%;
        color:white;
      }

      .yes,.no{
        height: 7vh;
        width: 8vw;
        margin-top: 8vh;
        border-radius: 10px;
        font-size: 30px;
      }
      .no:hover{

        background-color: #7c592c;
      }
      .yes:hover{

        background-color: #7c592c;
      }
    
      .yes{
        margin-left: 80px;
        margin-right: 100px;
      }
      .img{
        border-radius: 10px;
      }
     .qn{
        color: white;
        background-color: #1f1201;
        height: 10vh;
        width: 40vw;
        margin-left: 30vw;
     }
     input,
     input::placeholder {
         font: 1.25rem/3 sans-serif;
     }